.admin {
    .admin-dashboard {
        display: flex;
        .admin-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 17;
            display: none;
        }
        .admin-content {
            flex: 1;
        }
    }
}
@include responesive("extra-large") {
    .admin {
        .admin-dashboard {
            .admin-overlay {
                &.adminOverlayIsopen {
                    display: block;
                    animation: fadeIn 0.2s ease;
                }
            }
        }
    }
}
