.comments {
    &-container {
        max-width: 1184px;
        margin: 0 auto;
        .comments-content {
            max-width: 700px;
            margin: 0 48px;
            .comments-body{
                display: flex;
                .comments-img{
                    width: 65px;
                }
            }
        }
    }
}
