.course-content-list {
    border: 1px solid #dadcda;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 16px;
    &__item {
        border-bottom: 1px solid #dadcda;
        &:last-child {
            border-bottom: none;
        }
        &-content {
            display: flex;
            align-items: center;
            font-size: 16px;
            padding: 16px 24px;
            color: $color-black-0;
            cursor: pointer;
            background-color: #fbfbf8;
            h3 {
                flex: 1;
            }
            .icon-angle {
                padding-right: 10px;
            }
            .time {
                font-size: 14px;
            }
        }
        &-dropdown {
            ul {
                li {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color: $color-black-2;
                    padding: 16px 24px;
                    cursor: pointer;
                    h3 {
                        flex: 1;
                        color: $color-green;
                        text-decoration: underline;
                    }
                    .icon {
                        padding-right: 10px;
                    }
                    .preview {
                        padding-right: 10px;
                        color: $color-green;
                        text-decoration: underline;
                    }
                }
            }
        }
        &.hidden {
            &:nth-child(12),
            &:nth-child(13),
            &:nth-child(14),
            &:nth-child(15),
            &:nth-child(16) {
                display: none;
            }
        }
    }
}
@include responesive("small") {
    .course-content-list {
        &__item {
            &-content {
                h3 {
                    font-size: 14px;
                }
                .icon-angle {
                    font-size: 14px;
                }
                .time {
                    display: none;
                }
            }
            &-dropdown {
                ul {
                    li {
                        .preview {
                            display: none;
                        }
                        .minute {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
