.feedback {
    &-container {
        max-width: 1184px;
        margin: 0 auto;
        .feedback-content {
            max-width: 700px;
            margin: 24px 48px;
            .feedback-heading {
                h1 {
                    font-size: 24px;
                    font-weight: 700;
                }
            }
            .feedback-rating {
                margin-top: 24px;
                display: flex;
                align-items: center;
                &__average {
                    p {
                        font-size: 64px;
                        font-weight: 700;
                        color: #be5a0e;
                        margin-bottom: 4px;
                    }
                    .feedback-rating__icon {
                        display: flex;
                        align-items: center;
                        margin-bottom: 8px;
                        .feedback-star {
                            font-size: 17px;
                            margin-right: 4px;
                            color: #eb8a2f;
                        }
                    }
                    span {
                        font-size: 14px;
                        font-weight: 700;
                        color: #be5a0e;
                    }
                }
                &__rates {
                    flex: 1;
                    ul {
                        li {
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            button {
                                display: flex;
                                border: none;
                                margin: 0 20px;
                                width: 65%;
                                .feedback-gauge {
                                    width: 100%;
                                    height: 10px;
                                    padding: 4px 0;
                                    background-color: #dcdacb;
                                    position: relative;
                                    .feedback-gauge__percent {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 66%;
                                        height: 100%;
                                        background-color: $color-black-2;
                                    }
                                }
                            }
                            .rates-star {
                                width: 35%;
                                font-size: 16px;
                                color: #eb8a2f;
                                display: flex;
                                align-items: center;
                                .rates-star-icon {
                                    margin-right: 4px;
                                }
                                .percent {
                                    margin-left: 10px;
                                    p {
                                        font-size: 16px;
                                        color: $color-green;
                                    }
                                }
                            }
                            &:nth-child(2) {
                                button {
                                    .feedback-gauge {
                                        .feedback-gauge__percent {
                                            width: 43%;
                                        }
                                    }
                                }
                            }
                            &:nth-child(3) {
                                button {
                                    .feedback-gauge {
                                        .feedback-gauge__percent {
                                            width: 33%;
                                        }
                                    }
                                }
                            }
                            &:nth-child(4) {
                                button {
                                    .feedback-gauge {
                                        .feedback-gauge__percent {
                                            width: 15%;
                                        }
                                    }
                                }
                            }
                            &:nth-child(5) {
                                margin-bottom: 0;
                                button {
                                    .feedback-gauge {
                                        .feedback-gauge__percent {
                                            width: 3%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include responesive("extra-large") {
    .feedback {
        &-container {
            max-width: 1184px;
            margin: 0 auto;
            .feedback-content {
                max-width: 600px;
                margin: 24px auto;
            }
        }
    }
}
@include responesive("small") {
    .feedback {
        &-container {
            max-width: 1184px;
            margin: 0 auto;
            .feedback-content {
                max-width: 600px;
                margin: 24px 24px;
                .feedback-rating {
                    flex-direction: column;
                    align-items: flex-start;
                    &__average {
                        margin-bottom: 20px;
                    }
                    &__rates {
                        width: 100%;
                        ul {
                            li {
                                button {
                                    margin: 0;
                                    width: 80%;
                                    .feedback-gauge {
                                        width: 100%;
                                        height: 10px;
                                        padding: 4px 0;
                                        background-color: #dcdacb;
                                        position: relative;
                                        .feedback-gauge__percent {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 66%;
                                            height: 100%;
                                            background-color: $color-black-2;
                                        }
                                    }
                                }
                                .rates-star {
                                    width: 20%;
                                    color: #eb8a2f;
                                    display: flex;
                                    align-items: center;
                                    .rates-star-icon {
                                        display: none;
                                    }
                                    .percent {
                                        margin-left: 10px;
                                        p {
                                            font-size: 16px;
                                            color: $color-green;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
