.preview {
    margin: 32px 0;
    &-container {
        max-width: 1184px;
        margin: 0 auto;
        .preview-content {
            max-width: 700px;
            margin: 0 48px;
            .preview-heading {
                margin-bottom: 16px;
                h1 {
                    font-size: 24px;
                    font-weight: 700;
                }
            }
            .preview-controls {
                display: flex;
                align-items: center;
                &__form {
                    display: flex;
                    align-items: center;
                    width: 70%;
                    border: 1px solid $color-black-2;
                    border-radius: 5px;
                    overflow: hidden;
                    margin-right: 16px;
                    input {
                        flex: 1;
                        border: none;
                        outline: none;
                        height: 50px;
                        padding: 0 8px;
                    }
                    button {
                        width: 50px;
                        height: 50px;
                        border: none;
                        background-color: $color-green;
                        font-size: 20px;
                        color: $color-white-0;
                    }
                }
                .drop-menu {
                    width: 30%;
                    position: relative;
                    button {
                        border: 1px solid $color-black-2;
                        border-radius: 5px;
                        width: 100%;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 15px;
                    }
                    .drop-down {
                        position: absolute;
                        top: 110%;
                        left: 0;
                        width: 100%;
                        background-color: $color-white-0;
                        border: 1px solid $color-black-2;
                        border-radius: 5px;
                        display: none;
                        animation: fadeIn 0.2s all;
                        z-index: 10000;
                        &.open {
                            display: block;
                        }
                        ul {
                            padding: 16px 0;
                            li {
                                padding: 6px 15px;
                                transition: 0.1s ease;
                                &:hover {
                                    background-color: salmon;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include responesive("extra-large") {
    .preview {
        margin: 32px 0;
        &-container {
            max-width: 1184px;
            margin: 0 auto;
            .preview-content {
                max-width: 600px;
                margin: 0 auto;
            }
        }
    }
}
@include responesive("small") {
    .preview {
        margin: 32px 0;
        &-container {
            max-width: 1184px;
            margin: 0 auto;
            .preview-content {
                max-width: 700px;
                margin: 0 24px;
                .preview-controls {
                    flex-direction: column;
                    &__form {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 8px;
                    }
                    .drop-menu {
                        width: 100%;
                        .drop-down {
                            ul {
                                li {
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
