.ude-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
        width: 100%;
    }

    &.AvatarMd {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
    &.AvatarSm {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
}
