.date-field {
  display: flex;
  align-items: center;
  margin: 20px 0;
  label{
    font-size: 14px;
    margin-right: 15px;
    width: 20%;
  }
  input{
    width: 80%;
    outline: none;
    border: 1px solid #d3d3d3;
    padding: 8px 20px;
    font-size: 14px;
  }
}
