.filter-courses-list__item {
    width: 100%;
    position: relative;
    padding: 16px 0;
    border-bottom: 1px solid #dcdacb;
    &:nth-child(1) {
        padding: 0 0 16px 0;
    }
    &:last-child {
        border-bottom: none;
    }
    a {
        display: flex;
        width: 100%;
        .filter-courses-list__item-content {
            display: flex;
            padding-right: 96px;
            width: 100%;
            position: relative;
            .filter-courses-list__img {
                flex: 0;
                min-width: 260px;
                overflow: hidden;
                position: relative;
                margin-right: 16px;
                img {
                    width: 100%;
                    border-radius: 4px;
                    border: 1px solid #dcdacb;
                }
            }
            .filter-courses-list__info {
                flex: 1;
                &-heading {
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 4px;
                    color: $color-black-0;
                    max-height: 36px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
                &-name {
                    max-width: 600px;
                    font-size: 14px;
                    margin-bottom: 4px;
                    color: $color-black-1;
                    font-weight: 400;
                    line-height: 16px;
                    max-height: 36px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
                &-authen {
                    font-size: 12px;
                    margin-bottom: 4px;
                    color: $color-black-2;
                }
                &-rating {
                    display: flex;
                    align-items: center;
                    margin-bottom: 4px;
                    p {
                        font-size: 14px;
                        font-weight: bold;
                        color: #be5a0e;
                        padding-right: 4px;
                    }
                    .icon-rating {
                        font-size: 14px;
                        color: $color-yellow-1;
                    }
                    span {
                        font-size: 12px;
                        color: $color-black-2;
                        padding-left: 4px;
                    }
                }
                &-text {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    span {
                        font-size: 12px;
                        color: $color-black-2;
                        padding-right: 4px;
                        margin-bottom: 4px;
                        &:nth-child(2) {
                            &:before {
                                content: "\25CF";
                                font-size: 6px;
                                margin: 0 4px;
                            }
                        }
                        &:nth-child(3) {
                            &:before {
                                content: "\25CF";
                                font-size: 6px;
                                margin: 0 4px;
                            }
                        }
                    }
                }
                &-bestseller {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 70px;
                    padding: 6px;
                    margin-top: 4px;
                    background-color: $color-yellow-1;
                    border-radius: 4px;
                    p {
                        font-size: 12px;
                        font-weight: bold;
                        color: #593d00;
                    }
                }
                &-price {
                    position: absolute;
                    top: 0;
                    right: 0;
                    .new-price {
                        font-size: 16px;
                        color: $color-black-0;
                        font-weight: bold;
                        padding-bottom: 8px;
                    }
                    .old-price {
                        font-size: 14px;
                        color: $color-black-2;
                        text-decoration: line-through;
                    }
                }
                &-price-mobile {
                    display: flex;
                    padding: 8px 0;
                    align-items: center;
                    .new-price {
                        font-size: 16px;
                        color: $color-black-0;
                        font-weight: bold;
                        // padding-bottom: 8px;
                        margin-right: 8px;
                    }
                    .old-price {
                        font-size: 14px;
                        color: $color-black-2;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}
@include responesive("extra-large") {
}
@media screen and (max-width: 813px) {
}

@include responesive("medium") {
}
@include responesive("small") {
    .filter-courses-list__item {
        a {
            .filter-courses-list__item-content {
                padding-right: 0;
                .filter-courses-list__img {
                    min-width: 64px;
                    height: 64px;
                    img{
                        width: 100%;
                        height: 64px;
                    }
                }
                .filter-courses-list__info {
                    &-name {
                        display: none;
                    }
                    &-price {
                        display: none;
                    }
                }
            }
        }
    }
}
