.filter {
    margin-bottom: 24px;
    &-heading {
        display: flex;
        align-items: center;
        &__buttons {
            display: flex;
            align-items: center;
            width: 280px;
            .filter-btn {
                display: flex;
                align-items: center;
                border: 1px solid $color-green;
                padding: 10px 16px;
                border-radius: 4px;
                background-color: transparent;
                transition: 0.3s ease;
                margin-right: 10px;
                .filter-icon {
                    font-size: 24px;
                    color: $color-green;
                    margin-right: 5px;
                    transition: 0.3s ease;
                }
                p {
                    font-size: 16px;
                    color: $color-green;
                    font-weight: 700;
                    transition: 0.3s ease;
                }
                &:hover {
                    border: 1px solid $color-green-dark;
                    & .filter-icon {
                        color: $color-green-dark;
                    }
                    & p {
                        color: $color-green-dark;
                    }
                }
            }
            .filter-select {
                width: 100%;
                position: relative;
                cursor: pointer;
                transition: 0.3s ease;
                user-select: none;
                &__btn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid #dcdacb;
                    border-radius: 4px;
                    padding: 14px 8px;
                    font-size: 16px;
                    color: $color-black-2;
                }
                &__dropdown {
                    // display: none;
                    position: absolute;
                    top: 50px;
                    left: 0;
                    width: 100%;
                    padding: 10px 0;
                    border: 1px solid #dcdacb;
                    border-radius: 4px;
                    background-color: $color-white-0;
                    z-index: 10000;
                    h3 {
                        font-size: 16px;
                        color: $color-black-2;
                        font-weight: 400;
                        padding: 0 8px 5px 8px;
                    }
                    p {
                        padding: 5px 8px;
                        font-size: 16px;
                        color: $color-black-0;
                        transition: 0.2s ease;
                        &:hover {
                            background-color: $color-green;
                            color: $color-white-0;
                        }
                    }
                }
            }
        }
        &__result {
            width: 75%;
            text-align: right;
            span {
                font-size: 16px;
                font-weight: 700;
                color: $color-black-2;
            }
        }
    }
}
@include responesive("extra-large") {
    .filter {
        // padding: 0 24px;
    }
}
@include responesive("medium") {
    .filter {
        &-heading {
            &__buttons {
                width: 100%;
                .filter-select {
                    width: 25%;
                }
            }
            &__result {
                display: none;
            }
        }
    }
}
