.courses-heading {
    font-size: 32px;
    font-weight: 700;
    color: $color-black-0;
    margin-bottom: 48px;
}
.ude-courses__heading {
    font-size: 24px;
    font-weight: 700;
    color: $color-black-0;
    margin-bottom: 20px;
}
