.sub-category {
    background-color: $color-white-cream;
    display: flex;
    align-items: center;
    padding: 0 24px;
    overflow-y: hidden;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    &__list {
        display: flex;
        &-item {
            display: flex;
            align-items: center;
            height: 48px;
            &-heading {
                font-size: 14px;
                font-weight: 700;
                color: $color-black-0;
            }
            a {
                padding: 0 16px;
                transition: all 0.3s;
                font-size: 14px;
                color: $color-black-0;
            }
            &:hover a {
                color: $color-green;
            }
        }
        img {
            height: 48px;
            width: 18px;
        }
    }
}
