.submenu-mobile {
    padding: 16px 0;
    border-top: 1px solid #dcdacb;
    &:last-child {
        border-bottom: 1px solid #dcdacb;
    }
    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 19px;
        .filter-angle-icon {
            font-size: 19px;
            color: $color-black-2;
        }
    }
    .submenu-dropdown{
        &__item:nth-child(1){
            margin-top: 16px;
        }
    }
}
