.ude-courses {
    overflow: hidden;
    &__list {
        width: 100%;
        transition: 0.3s ease;
        &.isClose {
            width: calc(100% + 27rem);
            transform: translateX(-27rem);
        }
        .list-cuorses {
            display: flex;
            margin-bottom: 40px;
            overflow: hidden;
            .filter-courses-list {
                width: 75%;
            }
        }
    }
}
