.ude-courses {
    overflow: hidden;
    &__list {
        width: 100%;
        transition: 0.3s ease;
        &.isClose {
            width: calc(100% + 20rem);
            transform: translateX(-20rem);
        }
        .list-cuorses {
            display: flex;
            margin-bottom: 40px;
            overflow: hidden;
            .filter-courses-list {
                width: 75%;
            }
        }
    }
}
@include responesive("extra-large") {
    .ude-courses {
        padding: 0 24px;
        &__list {
            transition: 0.3s ease;
            // &.isClose {
            //     width: calc(100% + 22rem);
            //     transform: translateX(-22rem);
                
            // }
        }
    }
}
// @include responesive("medium") {
//     .ude-courses {
//         padding: 0 24px;
//         &__list {
//             transition: 0.3s ease;
//             &.isClose {
//                 width: calc(100%);
//                 transform: translateX(0);
//                 .list-cuorses {
//                    .filter-courses-list{
//                        width:100%;
//                    }
//                 }
//             }
//         }
//     }
// }
