.ude-courses {
    overflow: hidden;
    &__list {
        transition: 0.3s ease;
        &.isClose {
            transform: translateX(-270px);
            width: calc(100% + 260px);
        }
        .list-cuorses {
            display: flex;
            margin-bottom: 40px;
            overflow: hidden;
        }
    }
    .filter-overlay {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        z-index: 1000;
        display: none;
        animation: fadeIn ease 0.3s;
        overflow: hidden;
    }
}
@include responesive("extra-large") {
    .ude-courses {
        padding: 0 24px;
    }
}
@media screen and (max-width: 824px) {
    .ude-courses {
        padding: 0 24px;
        &__list {
            &.isClose {
                transform: translateX(0);
                width: auto;
                .list-cuorses {
                    .filter-courses-list {
                        width: 100%;
                    }
                }
            }
        }
        .filter-overlay {
            &.isOpen {
                display: block;
            }
        }
    }
}
@include responesive("medium") {
    // .ude-courses {
    //     padding: 0 24px;
    //     &__list {
    //         &.isClose {
    //             transform: translateX(0);
    //             width: auto;
    //             .list-cuorses {
    //                 .filter-courses-list {
    //                     width: 100%;
    //                 }
    //             }
    //         }
    //     }
    //     .filter-overlay {
    //         &.isOpen {
    //             display: block;
    //         }
    //     }
    // }
}
